* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surfarce-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surfarce-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh; /* ocupa toda a tela */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* conteúdo no topo, mas controlado */
  overflow: hidden;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  margin-top: -20px; /* controla o quanto sobe ou desce */
  width: 100%;
  max-width: 588px;
  padding: 0 24px;
}
#profile {
  text-align: center;
  padding: 24px;
  position: relative;
}

#profile img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 2px solid var(--stroke-color);
  object-fit: cover;
}

#profile p {
  font-weight: 500;
  margin-top: 8px;
  line-height: 26px;
}
#switch {
  position: absolute;
  bottom: -20px; /* desce um pouco pra encostar na borda */
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 32px;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s;
  animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-in 0.2s forwards;
}
#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: block;
  border-radius: 9999px;
  position: absolute;
  top: 4px;
  left: 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-weight: 500;
  text-decoration: none;
  transition: background 0.2s;
}
ul li a:hover {
  background: var(--surfarce-color-hover);
  border: 1.5px solid var(--text-color);
}
#social-links {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 18px;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/assets/bg-desktop.light.jpg);
  }
}
@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}
